.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 20%);
  z-index: 1000;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#music-player-container {
  display: flex;
  flex-direction: column;
}

.top-row {
  display: flex;
  flex-direction: row;
}

.music-player {
  border: none;
}

.music-player-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.applemusic {
  height: 450px;
  width: 500px;
}

.youtube {
  height: 70%;
  width: 50%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.music-player-hidden {
  display: none;
}

/* From Uiverse.io by aryamitra06 */
.loader {
  margin: 0 0 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 0.1rem;
  height: 0.7rem;
  background-color: rgb(151 151 151 / 50%);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 0.7rem;
  margin: 0 0.5rem;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #a0a0a0;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
